.contact {
  background-color: #e6f0f4;
  padding-bottom: 10px;
  @media screen and (min-width: 1200px) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  &__subtitle {
    font-weight: 500;
    margin-bottom: 11px;
  }

  &__box {
    display: block;
    // margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 96px;
    }
  }
  &-item {
    margin-bottom: 20px;
  }
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    color: #263640;
  }

  &__p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    color: #263640;
    opacity: 0.5;
    margin-bottom: 48px;
  }

  &__images-map {
    border-radius: 16px;
  }
}
.modal__input-coment {
  width: 100%;
  max-width: 90%;
}
.address {
  &__item {
    margin-bottom: 16px;
  }
  &__map {
    width: 100%;
    border-radius: 16px;
  }
  &__text {
    margin-bottom: 36px;
  }
  &__mail {
    margin-bottom: 28px;
  }
}
