.contact {
  background-color: #e6f0f4;
  padding-top: 96px;
  padding-bottom: 96px;
  &__box {
    display: flex;
    gap: 96px;
  }
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    color: #263640;
  }

  &__p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    color: #263640;
    opacity: 0.5;
  }
  &__images-map {
    border-radius: 16px;
  }
}
.modal__input-coment {
  width: 100%;
}
