.footer {
  padding-top: 30px;
  padding-bottom: 33px;
  background-color: #263640;
  &__navigation {
    display: none;
    @media screen and(min-width:1200px) {
      display: flex;
    }
    // display: flex;
  }
  &__container {
    display: flex;
    justify-content: center;
    @media screen and(min-width:1200px) {
      justify-content: space-between;
    }
  }

  &__logo {
    color: var(--dark-them-text-color);
    margin-right: 182px;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
      color: #f86808;
    }
  }
  &__menu-list {
    display: flex;
    gap: 48px;
    align-items: center;
  }
  &__menu-link {
    padding: 10px;
    display: flex;
    color: var(--dark-them-text-color);
    &:hover,
    &:focus {
      color: #f86808;
    }
  }
  &__contact {
    display: block;
    @media screen and(min-width:1200px) {
      display: flex;
      gap: 50px;
    }
  }
  &__follow {
    display: flex;
    gap: 10px;
  }
  &__social {
    &-network {
      margin-left: 10px;
    }
    @media screen and(min-width:1200px) {
      margin-bottom: 0;
    }
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    gap: 15px;
  }
  &__social-icon {
    fill: #fff;
    width: 32px;
    height: 32px;
    &:hover,
    &:focus {
      transform: scale(1.5);
      fill: #f86808;
    }
  }
  &__phone {
    outline: 1px solid var(--accent-color);
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    color: var(--dark-them-text-color);
    border-radius: 16px;
    padding: 8 16;
    background-color: #f86808;
    text-align: center;
    // button phone
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    &:hover,
    &:focus {
      box-sizing: border-box;
      outline: 1px solid var(--accent-color);
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      background-color: #fff;
      color: var(--accent-color);
      .footer__phone-icon {
        fill: #f86808;
      }
    }
  }
  &__phone-icon {
    fill: var(--dark-them-text-color);
    width: 16px;
    height: 16px;
  }
}

.icon-telegram {
  transform: scale(1.3);
  &:hover {
    transform: scale(1.7);
  }
}
// .icon-telegram-link:hover {
//   transform: scale(1.7);
// }
