.footer {
  padding-top: 30px;
  padding-bottom: 33px;
  background-color: #263640;
  &__navigation {
    display: flex;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    color: var(--dark-them-text-color);
    margin-right: 182px;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
      color: #f86808;
    }
  }
  &__menu-list {
    display: flex;
    gap: 48px;
    align-items: center;
  }
  &__menu-link {
    padding: 10px;
    display: flex;
    color: var(--dark-them-text-color);
    &:hover,
    &:focus {
      color: #f86808;
    }
  }
  &__contact {
    display: flex;
    gap: 50px;
  }
  &__follow {
    display: flex;
    gap: 10px;
  }
  &__social {
    display: flex;
    text-align: center;
    gap: 8px;
  }
  &__social-icon {
    fill: #fff;
    width: 32px;
    height: 32px;
    &:hover,
    &:focus {
      transform: scale(1.5);
      fill: #f86808;
    }
  }
  &__phone {
    color: var(--dark-them-text-color);
    border-radius: 16px;
    padding: 8px;
    background-color: #f86808;
    text-align: center;
    // button phone
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    &:hover,
    &:focus {
      background-color: #fff;
      color: var(--white-them-text-color);
    }
  }
  &__phone-icon {
    width: 16px;
    height: 16px;
  }
}
