.repair {
  background: linear-gradient(rgb(255, 255, 255) 40%, rgb(230, 240, 244) 90%);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 1200px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 48px;
  }
  &__video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 16px;
    margin-bottom: 48px;
    @media screen and(min-width:1200px) {
      width: 930px;
      height: 450px;
    }
  }
  &__about {
    display: flex;
    gap: 30px;
  }
  &__btn-more {
    // display: flex;
    gap: 8px;
    align-items: center;
    color: var(--dark-them-text-color);
    border-radius: 16px;
    padding: 8 16;
    background-color: #f86808;
    text-align: center;
    // button phone
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    &:hover,
    &:focus {
      box-sizing: border-box;
      outline: 1px solid var(--accent-color);
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      background-color: #fff;
      color: var(--accent-color);
      .footer__phone-icon {
        fill: #f86808;
      }
    }
  }
}
