h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  // height: auto;
}

a {
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: var(--white-them-text-color);
}

address {
  font-style: normal;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 430px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
