<section class="about section" id="about">
  <div class="container">
    <h2 class="about">
      <h3>Slick Slider</h3>
      <h3>Про нас</h3>
      <p>У нас найкращий процес з найкращою командою</p>
      <h4>Як ми працюємо</h4>
      <p>
        Yet bed any for travelling assistance indulgence unpleasing. Not
        thoughts all exercise blessing. Indulgence way everything joy. Party we
        years to order allow asked of. We so opinion friends me message as
        delight.
      </p>
      <button class="open-btn" type="button">Записатись на діагностику</button>
      <ul>
        <li>
          Project Discovery Call
          <p>
            Party we years to order allow asked of. We so opinion friends me
            message as delight.
          </p>
        </li>
        <li>
          Project Discovery Call
          <p>
            Party we years to order allow asked of. We so opinion friends me
            message as delight.
          </p>
        </li>
        <li>
          Project Discovery Call
          <p>
            Party we years to order allow asked of. We so opinion friends me
            message as delight.
          </p>
        </li>
      </ul>
      <h3>Консультація</h3>
      <h4>
        Отримайте безкоштовну консультацію з нашим експертом з автосервісу
      </h4>
      <p>Запишіться на консультацію онлайн або дзвоніть нам +380636363633</p>
      <button class="open-btn" type="button">Отримати консультацію</button>
    </h2>
  </div>
</section>
