<section class="about" id="about">
  <div class="container about-container">
    <h2 class="about">
      <section class="slick-slider">
        <div class="slick-container">
          <div class="one-time">
            <ul class="slick">
              <li class="slick-logo">
                <img
                  src="./images/car_logo_PNG1637.png"
                  alt="retina picture"
                  class="picture-img"
                  alt="FIAT"
                  width="150"
                  height="150"
                />
                <p class="slick__text">Чіп тюнінг Fiat</p>
              </li>
              <li class="slick-logo">
                <img
                  src="./images/car_logo_PNG1639.png"
                  alt="retina picture"
                  class="picture-img"
                  alt="ALFA-ROMEO"
                  width="150"
                  height="150"
                />
                <p class="slick__text">Чіп тюнінг Alfa Romeo</p>
              </li>
              <li class="slick-logo">
                <img
                  src="./images/car_logo_PNG1640.png"
                  alt="retina picture"
                  class="picture-img"
                  alt="AUDI"
                  width="150"
                  height="150"
                />
                <p class="slick__text">Чіп тюнінг Audi</p>
              </li>
            </ul>
            <div class="slick">
              <h3 class="slick-logo">
                <img
                  src="./images/car_logo_PNG1671.png"
                  alt="retina picture"
                  class="picture-img"
                  alt="BMW"
                  width="150"
                  height="150"
                />
                <p class="slick__text">Чіп тюнінг BMW</p>
              </h3>
            </div>
            <div class="slick">
              <h3 class="slick-logo">
                <img
                  src="./images/car_logo_PNG1642.png"
                  alt="retina picture"
                  class="picture-img"
                  alt="Ferrari"
                  width="150"
                  height="150"
                />
                <p class="slick__text">Чіп тюнінг Ferrari</p>
              </h3>
            </div>
            <div class="slick">
              <h3 class="slick-logo">
                <img
                  src="./images/car_logo_PNG1643.png"
                  alt="retina picture"
                  class="picture-img"
                  alt="Honda"
                  width="150"
                  height="150"
                />
                <p class="slick__text">Чіп тюнінг Honda</p>
              </h3>
            </div>
            <!-- <div class="slick"><h3>7</h3></div>
            <div class="slick"><h3>8</h3></div>
            <div class="slick"><h3>9</h3></div>
            <div class="slick"><h3>10</h3></div>
            <div class="slick"><h3>11</h3></div>
            <div class="slick"><h3>12</h3></div>
            <div class="slick"><h3>13</h3></div>
            <div class="slick"><h3>14</h3></div>
            <div class="slick"><h3>15</h3></div>
            <div class="slick"><h3>16</h3></div>
            <div class="slick"><h3>17</h3></div>
            <div class="slick"><h3>18</h3></div>
            <div class="slick"><h3>19</h3></div>
            <div class="slick"><h3>20</h3></div>
            <div class="slick"><h3>21</h3></div>
            <div class="slick"><h3>22</h3></div>
            <div class="slick"><h3>23</h3></div>
            <div class="slick"><h3>24</h3></div>-->
          </div>
        </div>
      </section>

      <section class="heading" id="heading">
        <div class="heading__container">
          <p class="heading__text">
            У нас найкращий процес з найкращою командою
          </p>
          <h3 class="heading__title">Як ми працюємо</h3>
          <p class="heading__list">
            Yet bed any for travelling assistance indulgence unpleasing. Not
            thoughts all exercise blessing. Indulgence way everything joy. Party
            we years to order allow asked of. We so opinion friends me message
            as delight.
          </p>
          <!-- <button class="open-btn__heading" type="button">
            Записатись на діагностику
          </button> -->
          <a class="footer__phone" href="index.html"
            >Записатись на діагностику</a
          >
        </div>
        <div class="project-container">
          <ul class="project">
            <img
              src="./images/Vector 335.png"
              alt="retina picture"
              class="picture-img"
              alt="Vector"
              width="800px"
            />
            <!-- <img
              src="./images/r-1.png"
              alt="retina picture"
              class="r-1"
              alt=""
              width=""
            /> -->
            <li class="project__title-1">Project Discovery Call</li>
            <p class="project__text-1">
              Party we years to order allow asked of. We so opinion friends me
              message as delight.
            </p>

            <li class="project__title-2">Project Discovery Call</li>
            <p class="project__text-2">
              His defective nor convinced residence own. Connection has put
              impossible own apartments boisterous.
            </p>
            <li class="project__title-3">Project Discovery Call</li>
            <p class="project__text-3">
              From they fine john he give of rich he. They age and draw mrs
              like. Improving end distrusts may instantly.
            </p>
          </ul>
          <img
            src="./images/1.png"
            alt="retina picture"
            class="picture-img1"
            alt="1"
            width=""
          />
          <img
            src="./images/2.png"
            alt="retina picture"
            class="picture-img2"
            alt="2"
            width=""
          />
          <img
            src="./images/3.png"
            alt="retina picture"
            class="picture-img3"
            alt="3"
            width=""
          />
          <img
            src="./images/ellipse.png"
            alt="retina picture"
            class="ellipse"
            alt=""
            width=""
          />
        </div>
      </section>

      <section class="consultation" id="consultation">
        <div class="consultation__container">
          <h3 class="consultation__title">
            Отримайте безкоштовну консультацію з нашим експертом з автосервісу
          </h3>
          <p class="consultation__text">
            Запишіться на консультацію онлайн або дзвоніть нам +380636363633
          </p>
          <!-- <button class="open-btn__consultation" type="button">
            Отримати консультацію
          </button> -->
          <a class="footer__phone consultation" href="index.html"
            >Отримати консультацію</a
          >
        </div>
      </section>
    </h2>
  </div>
</section>
