<div class="footer">
  <div class="footer__container container">
    <nav class="footer__navigation">
      <a class="footer__logo link" href="./index.html">Chip Tuning</a>
      <ul class="footer__menu-list list">
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#hero">Головна</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#about">Про нас</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#products">Команда</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#contact">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="footer__contact">
      <ul class="footer__follow">
        <li><a href=""></a>Instagram</li>
        <li><a href=""></a>Telegram</li>
        <li><a href=""></a>Facebook</li>
      </ul>
      <a class="footer__phone" href="tel:+380636363633">+380636363633</a>
    </div>
  </div>
</div>
