<div class="footer">
  <div class="footer__container container">
    <nav class="footer__navigation">
      <a class="footer__logo link" href="./index.html">Chip Tuning</a>
      <ul class="footer__menu-list list">
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="./index.html">Головна</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#about">Про нас</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#products">Команда</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#contact">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="footer__contact">
      <ul class="footer__social">
        <li class="footer__social-network">
          <a
            class="footer__social-link"
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer__social-icon">
              <use href="./images/svg-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-network">
          <a
            class="footer__social-link"
            href="https://web.telegram.org/k/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer__social-icon">
              <use href="./images/svg-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-network">
          <a
            class="footer__social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer__social-icon">
              <use href="./images/svg-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="footer__phone" href="tel:+380636363633">
        <svg class="footer__phone-icon">
          <use href="./images/svg-sprite.svg#icon-phone"></use>
        </svg>
        +380636363633</a
      >
    </div>
  </div>
</div>
