<section class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo link" href="./index.html">Chip Tuning</a>
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#about"></a>Головна
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#about"></a>Про нас
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#team"></a>Команда
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#contact"></a>Контакти
        </li>
      </ul>
    </nav>
    <div class="header-contact">
      <ul class="header-social">
        <li class="header-social__network">
          <a
            classs="header-social__link"
            href="https://viber.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-social__icon">
              <use href="./images/svg-sprite.svg#icon-viber"></use>
            </svg>
          </a>
        </li>
        <li class="header-social__network">
          <a
            classs="header-social__link"
            href="https://instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-social__icon">
              <use href="./images/svg-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social__network">
          <a
            classs="header-social__link"
            href="https://telegram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-social__icon">
              <use href="./images/svg-sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social__network">
          <a
            classs="header-social__link"
            href="https://facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header-social__icon">
              <use href="./images/svg-sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="header-phone" href="tel:+380636363633">
        <svg class="header-phone__icon">
          <use href="./images/svg-sprite.svg#icon-phone"></use></svg
        >+380636363633
      </a>
    </div>
  </div>
</section>
