<div class="header">
  <div class="container header__container">
    <nav class="header-navigation">
      <a class="header-logo link" href="./index.html">Chip Tuning</a>
      <ul class="site__nav list">
        <li class="site__nav-item">
          <a class="site__nav-link link" href="#about"></a>Про нас
        </li>
        <li class="site__nav-item">
          <a class="site__nav-link link" href="#team"></a>Наша команда
        </li>
        <li class="site__nav-item">
          <a class="site__nav-link link" href="#contact"></a>Контакти
        </li>
      </ul>
    </nav>
    <div class="header__contact">
      <ul class="header__social">
        <li class="header__social-network">
          <a
            classs="header__social-link"
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header__social-icon">
              <use href="./images/svg-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-network">
          <a
            classs="header__social-link"
            href="https://instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header__social-icon">
              <use href="./images/svg-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-network">
          <a
            classs="header__social-link"
            href="https://telegram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header__social-icon">
              <use href="./images/svg-sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-network">
          <a
            classs="header__social-link"
            href="https://facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="header__social-icon">
              <use href="./images/svg-sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="header__tel" href="tel:+380636363633">
        <svg class="header__tel-icon">
          <use href="./images/svg-sprite.svg#icon-tel"></use></svg
        >+380636363633
      </a>
    </div>
  </div>
</div>
