<section class="portfolio" id="#portfolio">
  <div class="container">
    <h2>Наші роботи</h2>
    <p>
      Why kept very ever home mrs. Considered sympathize ten uncommonly
      occasional assistance sufficient.
    </p>
    <!-- <ul class="portfolio__gallery">
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul> -->
    <a class="footer__phone" href="index.html">Переглянути всі роботи</a>
  </div>
</section>
