<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Наші роботи</h2>
    <p class="portfolio__text">
      Why kept very ever home mrs. Considered sympathize ten uncommonly
      occasional assistance sufficient.
    </p>
    <div class="portfolio__gallery-1">
      <div>
        <img
          class="portfolio__img-conteiner portfolio__img-1"
          src="./images/1-cover.jpg"
          alt=""
        />
      </div>
      <div class="portfolio__gallery-part">
        <img
          class="portfolio__part portfolio__part-test portfolio__img-conteiner"
          src="./images/2-cover.jpg"
          alt=""
        />

        <img
          class="portfolio__img-conteiner"
          src="./images/3-cover.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="portfolio__gallery-2">
      <div class="portfolio__gallery-5">
        <img
          class="portfolio__img-conteiner"
          src="./images/5-cover.jpg"
          alt=""
        />
      </div>

      <div class="portfolio__gallery-part-2">
        <img
          class="portfolio__img_reletive portfolio__img-conteiner"
          src="./images/4-cover.jpg"
          alt=""
        />
        <img
          class="portfolio__img_reletive-2 portfolio__img-conteiner"
          src="./images/6-cover.jpg"
          alt=""
        />
      </div>
    </div>
    <a class="portfolio__btn-more" href="#contact">Переглянути всі роботи</a>
  </div>
</section>
