<section class="team" id="team">
  <div class="container">
    <h4 class="section-title">Наша команда</h4>
    <p class="section-title__text">
      Why kept very ever home mrs. Considered sympathize ten uncommonly
      occasional assistance sufficient.
    </p>
    <ul class="team-list list">
      <li class="team__item">
        <img src="#" alt="" />
        <div class="team__card">
          <h5 class="team__title">Василь Петрович</h5>
          <h6 class="team__prof">Інженер</h6>
          <p class="team__text">
            Designer who makes easy to change and easy to create new elements.
          </p>
        </div>
      </li>
      <li class="team__item">
        <img src="#" alt="" />
        <div class="team__card">
          <h5 class="team__title">Василь Петрович</h5>
          <h6 class="team__prof">Інженер</h6>
          <p class="team__text">
            Designer who makes easy to change and easy to create new elements.
          </p>
        </div>
      </li>
      <li class="team__item">
        <img src="#" alt="" />
        <div class="team__card">
          <h5 class="team__title">Василь Петрович</h5>
          <h6 class="team__prof">Інженер</h6>
          <p class="team__text">
            Designer who makes easy to change and easy to create new elements.
          </p>
        </div>
      </li>
    </ul>
    <button class="open-btn" type="button">Записатись на діагностику</button>
  </div>
</section>
