<section class="team" id="team">
  <div class="container team-container">
    <h3 class="section-title">Наша команда</h3>
    <p class="section-title__text">
      Why kept very ever home mrs. Considered sympathize ten uncommonly
      occasional assistance sufficient.
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img src="./images/img-2.jpg" alt="Василь Петрович"/ width="100%">
        <div class="team-card">
          <h4 class="team-title">Василь Петрович</h4>
          <h5 class="team-prof">Інженер</h5>
          <p class="team-text">
            Designer who makes easy to change and easy to create new elements.
          </p>
        </div>
      </li>
      <li class="team-item">
        <img src="./images/img-2.jpg" alt="Василь Петрович"/ width="100%">
        <div class="team-card">
          <h4 class="team-title">Василь Петрович</h4>
          <h5 class="team-prof">Інженер</h5>
          <p class="team-text">
            Designer who makes easy to change and easy to create new elements.
          </p>
        </div>
      </li>
      <li class="team-item">
        <img src="./images/img-2.jpg" alt="Василь Петрович"/ width="100%">

        <div class="team-card">
          <h4 class="team-title">Василь Петрович</h4>

          <h5 class="team-prof">Інженер</h5>
          <p class="team-text">
            Designer who makes easy to change and easy to create new elements.
          </p>
        </div>
      </li>
    </ul>
    <a class="team-btn" href="#contact">Записатися на діагностику</a>
  </div>
</section>
