<section class="whyus">
  <div class="container">
    <h3 class="whyus__title">Чому саме ми?</h3>
    <p class="whyus__text">
      Why kept very ever home mrs. Considered sympathize ten uncommonly
      occasional assistance sufficient.
    </p>
    <ul class="whyus__about">
      <li class="whyus__about-item">
        <svg class="whyus__icon">
          <use href="./images/svg-sprite.svg#icon-flash"></use>
        </svg>
        <h4 class="whyus__about-item-title">Найкращий сервіс</h4>
        <p>
          Letter of on become he tended active enable to. Vicinity relation
          sensible sociable surprise screened no up as.
        </p>
      </li>
      <li class="whyus__about-item">
        <svg class="whyus__icon">
          <use href="./images/svg-sprite.svg#icon-smile"></use>
        </svg>
        <h4 class="whyus__about-item-title">Найкраща команда</h4>
        <p>
          Led ask possible mistress relation elegance eat likewise debating. By
          message or am nothing amongst chiefly address.
        </p>
      </li>
      <li class="whyus__about-item">
        <svg class="whyus__icon">
          <use href="./images/svg-sprite.svg#icon-like"></use>
        </svg>
        <h4 class="whyus__about-item-title">Найкращий результат</h4>
        <p>
          Ham windows sixteen who inquiry fortune demands. Is be upon sang fond
          must shew. Really boy law county she unable her sister.
        </p>
      </li>
    </ul>

    <a class="whyus__btn-more" href="#contact">Записатись на діагностику</a>
  </div>
</section>
